# Application settings
# Possible values: dev, stg, prd
APP_ENVIRONMENT=dev

# Storage settings
TABLE_NAME_CASES=*****
TABLE_NAME_DEFENDANTS=*****
TABLE_NAME_CHARGES=*****
TABLE_NAME_OFFENCES=*****
TABLE_NAME_DOCUMENTS=*****
TABLE_NAME_VERSIONS=*****
TABLE_NAME_EXPERIMENTS=*****
TABLE_NAME_SECTIONS=*****
TABLE_NAME_ANALYSISJOBS=*****
TABLE_NAME_ANALYSISRESULTS=*****
TABLE_NAME_PROMPT_TEMPLATES=*****
TABLE_NAME_EVENTS=*****

BLOB_CONTAINER_NAME_SOURCE=*****
BLOB_CONTAINER_NAME_PROCESSED=*****
BLOB_CONTAINER_NAME_SECTION=*****

# Database settings
POSTGRESQL_HOST=*****
POSTGRESQL_PORT=*****
POSTGRESQL_DATABASE_NAME=*****
POSTGRESQL_SCHEMA=*****
POSTGRESQL_USERNAME=*****

# CMS settings
CMS_ENDPOINT=https://****/api
CMS_API_KEY_AZURE_KEY_VAULT_SECRET_NAME=*****
CMS_USERNAME_AZURE_KEY_VAULT_SECRET_NAME=*****
CMS_PASSWORD_AZURE_KEY_VAULT_SECRET_NAME=*****

# Azure Blob Storage settings
AZURE_BLOB_ACCOUNT_NAME=*****

# Azure Document Intelligence settings
AZURE_DOC_INTELLIGENCE_ENDPOINT=https://***.cognitiveservices.azure.com/
AZURE_DOC_INTELLIGENCE_API_VERSION=2024-11-30

# Azure AI Foundry settings
AZURE_AI_FOUNDRY_ENDPOINT=https://*****.cognitiveservices.azure.com/
AZURE_AI_FOUNDRY_API_VERSION=2025-03-01-preview
AZURE_AI_FOUNDRY_DEPLOYMENT_NAME=****

# Azure settings
AZURE_KEY_VAULT_URL=https://****.vault.azure.net/

# -----------------------------------------

# Test settings
TEST_CMS_URN=*****
TEST_CMS_CASE_ID=****
TEST_BLOB_NAME=*****.pdf
TEST_FILEPATH=****.docx
TEST_SECTION_CONTENT="***"
TEST_EXPERIMENT_ID=****
TEST_SECTION_ID=***
TEST_THEME=***
TEST_PATTERN=****
