# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

python-dotenv
loguru
pydantic
tenacity

# azure sdk core
azure-common
azure-core

# azure identity and keyvault
azure-identity[broker]
azure-keyvault-secrets

# postgres
psycopg2-binary
SQLAlchemy>=2.0

# azure storage
azure-storage-blob

# server
uvicorn[standard]
azure-functions

# document intelligence
azure-ai-documentintelligence==1.0.0b4

# LLM inference
azure-ai-inference
openai
Jinja2
langchain-core>=1.2.7
langchain>=0.3.3
langchain-openai>=0.2.2
langgraph>=1.0.7

# testing
pytest-cov
pytest
pytest-asyncio